.body{
    background-color: hsl(248, 70%, 36%);
    height: 80vh;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.current{
    background: url('../assets/images/bg-today-large.svg');
    border-radius: 10px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.current h2{
    color: white;
    font-size: 1rem;
}
.current span{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.info-temperature {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.info-temperature h2 {
    color: white;
    font-size: .5rem;
}
.current-weather{
    width: 90%;
}
.feel-like {
    flex: 1;          /* ⬅️ supprime width: 100% qui entre en conflit avec flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.8rem;
    background: #aa3bff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;  /* ⬅️ supprime margin: 10px, utilise gap sur le parent */
}

.feel-like h2 {
    font-size: 0.7rem;
}

.feel-like span {
    font-size: 1.2rem;
}

.daily-forecast{
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
.day{ background: #aa3bff;
    border-radius: 10px;
    padding: 5px;
}
.daily-forecast h2{
    font-size: 0.7rem;

    text-align: center;
}
.daily-forecast div span{
    font-size: 0.5rem;
}
.temperature{
    display: flex;
    justify-content: space-between;
    color: white;
}
main {
    display: flex;
    gap: 2rem; /* espace entre les deux blocs */
    align-items: flex-start;
}
.test {
    flex: 2;
}

aside {
    flex: 1; /* plus petit bloc à droite */
}
.title-daily{
    color: white;
    font-size: 1rem;
}

.spin {
    animation: spin 1s infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.search-bar{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background: #1e213a;
    border-radius: 10px;
    overflow: hidden;
}

/* input */
.search-bar input{
    flex: 1;
    padding: 12px 15px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 1rem;
}

/* placeholder */
.search-bar input::placeholder{
    color: #888;
}

/* bouton */
.search-bar button{
    background: #aa3bff;
    border: none;
    padding: 12px 15px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
}

/* hover */
.search-bar button:hover{
    background: #922ee0;
}
