body{
    background-color: #02012B;
}
.current{
    background:url("../assets/images/bg-today-large.svg")no-repeat center center;
    height: 30vh;
    border-radius: 20px;
}

.info{
    background:#25253F;
    height: 10vh;
    border-radius: 20px;
}



.current {
    display: flex;
    flex-direction: column; /* empile tous les blocs verticalement */
    align-items: flex-start; /* alignement à gauche */
}

.info-weather {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.info-cards-container {
    width: 100%;      /* prend toute la largeur */
}

.info-cards {
    flex:1;
}

.info-cards .Info {
    min-width: 200px; /* uniformise la taille des cartes */

}
.height-100{
    height: 15vh;
}

h6,.temperature span:not(.jours span){
    font-size: 0.8rem;
}
.previsions{
    background: #25253F;
    border-radius: 15px;
}
.temperature {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: nowrap;
}

.search-bar {
    display: flex;
    align-items: center;
    background: #25253F;
    border-radius: 50px;
    padding: 5px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

/* Input */
.search-bar input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px 15px;
    color: white;
    font-size: 0.9rem;
}

/* Placeholder */
.search-bar input::placeholder {
    color: #aaa;
}

/* Button */
.search-bar button {
    background: #6C63FF; /* couleur accent */
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hover effet */
.search-bar button:hover {
    background: #5848d6;
}

.scroll-box {
    height: 70vh;
    overflow: auto;
}

.scroll-box::-webkit-scrollbar {
    width: 6px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background: #25253F;
    border-radius: 10px;
}


